body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #f0f0f0;
    padding: 10px;
    width: 110%;
}

main {
    margin: 20px;
}


.center-details, .favorite-center {
    margin-bottom: 20px;
}

.center-details h2, .favorite-center h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.center-details p, .favorite-center p {
    margin: 5px 0;
}


/* PROFILE PAGE */

.user-details {
	margin-bottom: 20px;
}

.user-details b {
	display: inline-block;
	/*width: 200px;*/
	min-width: 250px;
	text-align: center;
}

.user-details h3 button {
	margin-left: 10px;
}

.form-container {
	background: #fff;
	padding: 20px 40px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	max-width: 400px;
	margin: auto;
}
.form-container h1 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
}
.form-group {
	margin-bottom: 15px;
}
.form-group label {
	color: #333;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}



.form-group input[type="text"], .form-group input[type="password"] {
	width: calc(100% - 100px);
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	display: inline-block;
}

/* Initially disable the submit button */
.form-group input[type="submit"] {
    display: none;
}

/* Enable the submit button when the text or password input is not empty */
.form-group input[type="text"]:not(:placeholder-shown) ~ input[type="submit"],
.form-group input[type="password"]:not(:placeholder-shown) ~ input[type="submit"] {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
}


.form-group input[type="submit"]:hover {
	background-color: rgb(65, 65, 151);
	color: white;
}

.submit-button {
	background-color: #f0f0f0;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block !important;
	margin-left: 10px;
	margin-top: 5px;
}


/* INDEX */
.center-details h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.center-details p {
	margin: 5px 0;
}


.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
    padding-inline-start: 10px;
}

.nav-links li {
	list-style: none;
}

.nav-links a, input {
	color: black;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 5px;
}

.nav-links a:hover:not(.active) {
	background-color: rgb(65, 65, 151);
    opacity: 75%;
}

.nav-links li a.active {
	background-color: rgb(65, 65, 151);
    opacity: 75%;
}


.container {
	animation: transitionIn 1s;
}
@keyframes transitionIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.registration label {
		display: inline-block;
		width: 130px;
		text-align: center;
}

.register-button {
	padding-left: 135px;
}

.about-logo {
	width: 800px;
}